<style>
	.subheader
	{
		font-size:20px;
	}
</style>

<div ng-controller="professorGeneralController">

    <md-subheader class="md-primary subheader">Verification</md-subheader>
    <div layout="column">
    	<md-button class="md-raised" style="margin: 5px; margin-left: 15px; margin-bottom: 15px; width:200px;" ng-click="startVerification()">Start verifications</md-button>  
   	</div>
   
    <md-divider ng-if="!$last"></md-divider>

    <lx-dialog class="dialog dialog--l" id="verificationDialog">

        <div class="dialog__header">
            <div class="toolbar bgc-indigo-500 pl++">
                <span class="toolbar__label tc-white fs-title">Verification code</span>
            </div>
        </div>

        <div class="dialog__content" style="text-align: center; margin-top: 50px">
            <span style="font-size: 120pt">{{verificationCode}}</span>
        </div>

        <div class="dialog__actions">
            <button class="btn btn--m btn--black btn--flat" lx-ripple lx-dialog-close ng-click="cancleVerification()">Cancel</button>
        </div>
    </lx-dialog>

</div>