<style>

</style>

<div ng-controller="professorStatisticController">
    <md-subheader class="md-primary">Feedback</md-subheader>
    <h3 class="md-headline" style="margin-left: 20px; margin-top: 0px; font-size: 15px; z-index: 999; position: relative;">Average: 3.2</h3>
    <div google-chart chart="feedbackChart" style="margin-top: -40px"></div>
    <md-divider ng-if="!$last"></md-divider>

    <md-subheader class="md-primary">Attendance</md-subheader>
    <h3 class="md-headline" style="margin-left: 20px; margin-top: 0px; font-size: 15px; z-index: 999; position: relative;">Average: 32</h3>
    <div google-chart chart="attendanceChart" style="margin-top: -40px"></div>
    <md-divider ng-if="!$last"></md-divider>
</div>