md-toolbar md-icon.md-default-theme {
  color: white; }
  
md-whiteframe {
  background: #fff;
  width: 400px;
  margin: 20px;
  padding: 20px; }
  
  .face {
  border-radius: 30px;
  border: 1px solid #ddd;
  width: 48px;
  margin: 16px; }
  
  .ellipsis {
  word-wrap: break-word;
}

.centered {
  position: fixed;

    left: 50%;
    top: 50%;
    background-color: white;
    z-index: 100;

    height: 100px;
    margin-top: -50px;

    width: 200px;
    margin-left: -100px;
    
    text-align: center;
	vertical-align: middle;
	line-height: 100px;       /* the same as your div height */
}