<div ng-controller="studentFeedbackController">

<div style="margin-left: 15px" layout="column">
	  <h3 class="md-primary">Rating:</h3>
	  <md-slider flex class="md-primary" md-discrete ng-model="rating" step="1" min="0" max="5" aria-label="rating" style="width:30%; max-width: 400px;">
      </md-slider>
      <lx-text-field label="Title" style="width: 70%; max-width:300px">
            <input type="text" ng-model="title" >
      </lx-text-field>
      <a href="#" editable-textarea="message" e-rows="7" e-cols="40">
          <pre style="margin-top: -25px; margin-left: 10px" class="md-primary"><h3>{{message || "Information"}}</h3></pre>
      </a>
       <md-button class="md-raised md-primary" style="width:150px; margin: 5px; margin-left: 100px; margin-top:28px; margin-bottom: 15px;" ng-click="submit()">Submit</md-button>   
</div>
    

</div>