md-toolbar md-icon.md-default-theme {
  color: white; }
  
md-whiteframe {
  background: #fff;
  width: 400px;
  margin: 20px;
  padding: 20px; }
  
  .face {
  border-radius: 30px;
  border: 1px solid #ddd;
  width: 48px;
  margin: 16px; }
  
  .ellipsis {
  word-wrap: break-word;
}